# Django #
*.log
*.pot
*.pyc
__pycache__/


# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/
proyecto/__pycache__/
salones/__pycahce__/
salones/migrations/__pycache__/__init__.cpython-310.pyc
proyecto/static/
